html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
}

.adsbygoogle {
  min-height: 90px;
  width: 100%;
}

.post-content h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: -0.02em;
}

.post-content p {
  margin-top: 1rem;
  color: rgb(63 63 70);
  font-size: 1.0625rem;
  line-height: 1.85;
}
